<div class="inicio-card input-group flex-nowrap">
    <div class="btn-group dropend" role="group"
        *ngIf="permiso.puedeCrear(Seccion.ArtistaGrupo) || permiso.puedeCrear(Seccion.InstrumentoArtistaGrupo)">
        <button type="button" class="btn btn-primary dropdown-toggle no-radius" data-bs-toggle="dropdown"
            aria-expanded="false">
            Agregar
        </button>
        <ul class="dropdown-menu">
            <li *ngIf="permiso.puedeCrear(Seccion.ArtistaGrupo)">
                <a class="dropdown-item" [routerLink]="['agregar']">Artista</a>
            </li>
            <li *ngIf="permiso.puedeCrear(Seccion.InstrumentoArtistaGrupo)">
                <a class="dropdown-item" [routerLink]="['../instrumentoArtista','agregar']">Instrumento</a>
            </li>
        </ul>
    </div>

    <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-magnifying-glass"></i></span>
    <input *ngIf="!tabla" #inputMaterial matInput placeholder="Buscar" class="form-control bg-dark text-white mb-2"
        (keyup)="applyFilter($event)" autofocus>

    <input *ngIf="tabla" type="text" class="form-control bg-dark text-white mb-2" placeholder="Buscar"
        [(ngModel)]="search" autofocus>

    <a *ngIf="tabla" type="button" class="btn btn-outline-light" (click)="cambiarVista()">
        <i class="fa-solid fa-list"></i>
    </a>
    <a *ngIf="!tabla" type="button" class="btn btn-outline-light" (click)="cambiarVista()">
        <i class="fa-solid fa-table"></i>
    </a>

    <!-- Exportar -->
    <app-export-button [action]="export.bind(this)" color="success" [outline]="true"
        extraClass="me-2"></app-export-button>
</div>

<label *ngIf="tabla">Total: {{ (Artistas | customGlobalFilter:search).length }} registros</label>

<div class="container-scroll row" *ngIf="tabla; else lista">
    <div class="col-md-4" *ngFor="let artista of Artistas | customGlobalFilter:search" style="margin-bottom: 1.5rem;">
        <div class="card text-center">
            <div class="card-header text-white d-flex justify-content-between align-items-center">
                {{artista.nombreArtistico}}

                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button *ngIf="permiso.puedeEliminar(Seccion.ArtistaGrupo)" class="btn btn-danger"
                        (click)="borrar(artista.artistaGrupoId)">
                        <i class="far fa-trash-alt"></i>
                    </button>

                    <button *ngIf="!show" class="btn btn-primary" (click)="show = !show">
                        <i class="fa-solid fa-circle-info"></i>
                    </button>
                    <button *ngIf="show" class="btn btn-primary" (click)="show = !show">
                        <i class="fa-solid fa-circle-xmark"></i>
                    </button>
                </div>
            </div>
            <img [src]="artista.foto == '' ? '/assets/noImagen.png' : artista.foto " alt="Imagen del Artista">
            <div class="card-body" *ngIf="show">
                <p style="font-weight: bold;">Grupo</p>
                <p>{{artista.grupo}}</p>
                <p style="font-weight: bold;">Periodo</p>
                <p>{{artista.periodo}}</p>
                <p style="font-weight: bold;">Fecha Nacimiento</p>
                <p>{{artista.fechaNacimiento | date: 'dd / MMMM / yyyy'}}</p>
                <p style="font-weight: bold;">Edad</p>
                <p>{{artista.edad}}</p>
                <p style="font-weight: bold;">Instrumentos que toca</p>
                <p>{{artista.instrumentos}}</p>
                <p style="font-weight: bold;">Tipo Voz</p>
                <p>{{artista.tipoVoz}}</p>
                <p style="font-weight: bold;">Nacionalidad</p>
                <p>{{artista.pais}}</p>
                <a *ngIf="permiso.puedeEditar(Seccion.ArtistaGrupo)"
                    [routerLink]="['actualizar', artista.artistaGrupoId]" class="btn btn-info btn-block">Editar</a>
            </div>
        </div>
    </div>
</div>

<!-- Tabla -->
<ng-template #lista>
    <div class="container-scroll">
        <div class="table-wrapper">
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="artistaGrupoId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
                    <td mat-cell *matCellDef="let artista">{{ artista.artistaGrupoId }}</td>
                </ng-container>

                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                    <td mat-cell *matCellDef="let artista">{{ artista.nombre }}</td>
                </ng-container>

                <ng-container matColumnDef="nombreArtistico">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Artistico</th>
                    <td mat-cell *matCellDef="let artista">{{ artista.nombreArtistico }}</td>
                </ng-container>

                <ng-container matColumnDef="grupo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Grupo</th>
                    <td mat-cell *matCellDef="let artista">{{ artista.grupo }}</td>
                </ng-container>

                <ng-container matColumnDef="periodo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Periodo</th>
                    <td mat-cell *matCellDef="let artista">{{ artista.periodo }}</td>
                </ng-container>

                <ng-container matColumnDef="genero">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Género</th>
                    <td mat-cell *matCellDef="let artista">{{ artista.genero }}</td>
                </ng-container>

                <ng-container matColumnDef="fechaNacimiento">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Nacimiento</th>
                    <td mat-cell *matCellDef="let artista">{{ artista.fechaNacimiento | date: 'dd / MMMM / yyyy' }}</td>
                </ng-container>

                <ng-container matColumnDef="fechaFinado">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Finado</th>
                    <td mat-cell *matCellDef="let artista">{{ artista.fechaFinado | date: 'dd / MMMM / yyyy' }}</td>
                </ng-container>

                <ng-container matColumnDef="edad">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Edad</th>
                    <td mat-cell *matCellDef="let artista">{{ artista.edad }}</td>
                </ng-container>

                <ng-container matColumnDef="estatura">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Estatura</th>
                    <td mat-cell *matCellDef="let artista">{{ artista.estatura }}</td>
                </ng-container>

                <ng-container matColumnDef="pais">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>País</th>
                    <td mat-cell *matCellDef="let artista">{{ artista.pais }}</td>
                </ng-container>

                <ng-container matColumnDef="instrumentos">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Instrumentos</th>
                    <td mat-cell *matCellDef="let artista">{{ artista.instrumentos }}</td>
                </ng-container>

                <ng-container matColumnDef="tipoVoz">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Voz</th>
                    <td mat-cell *matCellDef="let artista">{{ artista.tipoVoz }}</td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let artista">
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <a *ngIf="permiso.puedeEditar(Seccion.ArtistaGrupo)"
                                [routerLink]="['actualizar', artista.artistaGrupoId]" class="btn btn-info btn-block"><i
                                    class="fa-solid fa-pen-to-square"></i>
                            </a>

                            <button *ngIf="permiso.puedeEliminar(Seccion.ArtistaGrupo)" class="btn btn-danger"
                                (click)="borrar(artista.artistaGrupoId)">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <p *ngIf="dataSource.data.length === 0" class="text-center">No hay artistas registrados.</p>
        </div>
    </div>
    <div class="paginator-container">
        <mat-paginator [pageSize]="pageSize"></mat-paginator>
    </div>
</ng-template>